.bg-primary-color{
    background-color: rgb(204, 192, 123);
}

.bg-secundary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    background-color: #ffda74;
}

.secundary-color{
    background-color: #7a7a7a;
}

.font{
    background-color: aliceblue;
}