#featured-container{
    margin-bottom: 1em;
}

.title{
    font-size: 1.7em;
    margin-bottom: 0.4em;
    align-items: center;
}



#fatured-images .col-md-4{
    position: relative;
    cursor: pointer;
}

#fatured-images  .col-md-4:hover > .banner-content{
    opacity: 0.8s;
}

#fatured-images .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
}