#mini-banners{
    margin-bottom: 4em;
}

#mini-banners .card{
    padding: 1em 0.3em;
    border-radius: 0;
    margin-bottom: 1em;
}

#mini-banners i {
    font-size: 2em;
}

#mini-banners .card-title{
    margin-bottom: 1.5em;
}

#mini-banners .btn {
    margin-top: 1em;
    padding: 0.4em 1em;
}