#slider{
    margin-top: 6.0em;
    margin-bottom: 2em;
}

#slider .carousel-caption{
    bottom: 1em;
}

#slider .carousel-caption h5{
    font-size: 1.1em;
    text-shadow: #000 1px 2px;
}

.btn{
    border-radius: 0;
}

#slider .btn{
    padding: 0.3 0.2em;
    font-size: 1em;
    margin-top: 0.2em;
}

.carousel-control-prev i,
.carousel-control-next i{
    color: #111;
    font-size: 3em;
}

.carousel-indicators[data-bs-target]{
    background-color: #222;
    opacity: .8;
}

.carousel-indicators .active{
    background-color: #111;
}
