*{
    font-family: sans-serif;
}
/*navbar*/
#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar:hover{
    color: #7a7a7a;
}

#navbar a.active{
    border-bottom:1px solid #050505 ;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 15px;
}

.navbar-brand span{
    font-weight: 200;
    font-size: 1.5rem;
    margin-left: 0.2rem;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .navbar-item{
    margin: 0 1em;
}

